/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
body {background: black;}
canvas {display: block;}
.c{
    width: 100%;
}
@media only screen and (max-width:800px){
    *{
        max-width: 100%;
    }
}